/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container for sidebar and content */
.container {
    display: flex; /* Sử dụng flexbox để chia đôi */
    height: 100vh; /* Đặt chiều cao của container là 100vh */
}

<<<<<<< HEAD


/* Sidebar styling */
.sidebar {
    border-radius: 10px;
    width: 270px;
=======
/* Sidebar styling */
.sidebar {
    border-radius: 10px;
    width: 250px;
>>>>>>> 63523739a6d03b86785b74eba411f8167525b61c
    background-color: #87CEFA;
    color: black;
    padding: 20px;
    position: fixed; /* Sidebar cố định */
    height: 100%; /* Chiều cao sidebar bằng 100% của container */
}

/* Navigation styling */
.sidebar nav {
    margin-top: 20px; /* Tạo khoảng cách giữa tiêu đề và nav */
}

.sidebar nav a {
<<<<<<< HEAD
    font-size: 22px;
    font-weight: bold;
=======
    font-size: 20px;
>>>>>>> 63523739a6d03b86785b74eba411f8167525b61c
    display: block; /* Đảm bảo mỗi link chiếm toàn bộ chiều rộng */
    padding: 10px 15px; /* Thêm padding để tạo khoảng cách cho các link */
    color: black; /* Màu chữ cho các link */
    text-decoration: none; /* Bỏ gạch chân */
    border-radius: 5px; /* Bo tròn góc cho các link */
    transition: background-color 0.3s; /* Hiệu ứng chuyển đổi cho màu nền */
<<<<<<< HEAD
    margin-bottom: 15px;
=======
>>>>>>> 63523739a6d03b86785b74eba411f8167525b61c
}

.sidebar nav a:hover {
    background-color: #AFEEEE; /* Màu nền khi hover */
    color: blue; /* Đổi màu chữ khi hover */
}

/* Active link styling */
.sidebar nav a.active {
    background-color: #007bff; /* Màu nền cho link đang hoạt động */
    color: white; /* Màu chữ cho link đang hoạt động */
}

/* Đẩy nội dung chính sang phải để không bị che bởi sidebar */
.content-area {
    margin-left: 250px; /* Bằng chiều rộng của sidebar */
    width: calc(100% - 250px); /* Đảm bảo nội dung chiếm hết chiều rộng còn lại */
    display: flex;
    flex-direction: column; /* Đặt chiều hướng cột cho content-area */
}

/* Main content styling */
.main-content {
<<<<<<< HEAD
    width: 100%;
    flex-grow: 1;
    padding: 20px;
}

.main-content h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #34495e;
    text-align: center;
}


#contain-btn {
    display: table-cell; /* Thiết lập hiển thị như ô bảng */
    vertical-align: middle; /* Căn giữa chiều cao của nút */
    height: 80px; /* Hoặc chiều cao mà bạn đã thiết lập cho các ô khác */
}
.btn {
    padding: 8px 16px;
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 4px 0; /* Tạo khoảng cách giữa các nút */
    width: 100%; /* Chiều rộng 100% để nút trải đều chiều rộng của ô */
    box-sizing: border-box; /* Đảm bảo padding không làm tăng chiều rộng của nút */
}




.table-wrapper {
    width: 98%;
    max-width: 100%;
    overflow-x: auto;
    margin: 0 auto;
}

/* Customer Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

table th, table td {
    padding: 15px 20px; /* Padding để đảm bảo nội dung không chèn vào biên */
    border-bottom: 1px solid #ddd;
    text-align: center;
    height: 80px; /* Thay đổi chiều cao theo ý muốn (80px là ví dụ) */
}


table th {
    background-color: #34495e;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}


table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #808080;
    color: white;
    cursor: pointer;
}


table #table-body #content_col {
    width: 500px;
    text-align: left;
}

.customer-table #content_col{
    width: 500px;
}

/* Modal Structure */
.form-container {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
    padding-top: 50px;
}






=======
    flex: 1; /* Cho phép nội dung chính mở rộng để chiếm hết không gian còn lại */
    padding: 20px;
    background-color: #f4f4f9;
}

.main-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Footer styling */
.footer {
    background-color: #A9A9A9;
    padding: 20px;
    text-align: left;
    box-shadow: 0 2px 8px #00000033;
    /* Đảm bảo footer ở cuối content-area */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.footer-content div {
    text-align: left;
}

.footer-content h3 {
    margin-bottom: 10px;
}

.footer-content a {
    color: #333;
    text-decoration: none;
    display: block;
}

.footer-content a:hover {
    color: #007bff;
}

.social a {
    margin-right: 10px;
    color: #333;
}

.social a:hover {
    color: #007bff;
}
>>>>>>> 63523739a6d03b86785b74eba411f8167525b61c
