.nav {
    text-align: left;
}

.main-content {
    padding-top: 20px ;
}

.nav-link {
    position: relative;
    color: #333;
    padding: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: #333;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
    left: 0;
}

.nav-link:hover {
    color: #333;
}

.nav-link.active {
    color: #333;
    font-weight: bold;
}
